@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");
@font-face {
  font-family: mainfont;
  src: url("../fonts/Neo Sans Arabic Regular.ttf");
}
@font-face {
  font-family: mainfontmed;
  src: url("../fonts/NeoSansArabicMedium.ttf");
}
html {
  scroll-behavior: smooth;
}

input:focus,
select:focus,
textarea:focus {
  outline: 0 !important;
}

body {
  font-family: mainfont;
  text-transform: capitalize;
  background-color: #0d1435;
}

.clear {
  clear: both;
}

img {
  max-width: 100%;
  width: 100%;
}

.monitor {
  margin-top: 10px;
  position: relative;
}
.monitor .section-header p {
  margin-top: 18px;
  font-size: 20px;
}
.monitor .swiper-container {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 10px;
}
.monitor .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px !important;
  height: auto !important;
}
.monitor .swiper-slide-active img {
  position: relative;
  padding: 10px;
  left: 0px;
  top: 0;
  z-index: 20 !important;
}
.monitor .swiper-slide-active::before {
  content: "";
  position: absolute;
  width: 400px;
  height: 750px;
  top: -29px;
  left: -39px;
  z-index: 99 !important;
}
.monitor .swiper-container-3d .swiper-slide-shadow-left,
.monitor .swiper-container-3d .swiper-slide-shadow-right {
  background-image: none;
}
.monitor .swiper-pagination-bullet {
  background: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  display: inline-block;
  height: 8px;
  opacity: 1;
  width: 26px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.monitor .swiper-pagination-bullet-active {
  background: #fff;
  background: #fff;
  border: medium none;
  height: 8px;
  opacity: 1;
  width: 51px;
}

@media (max-width: 1024px) {
  .header-parent .header-content {
    padding-right: 0 !important;
  }
  .header-parent .header-img .whatsapp-img {
    bottom: 104px !important;
    left: 51px !important;
  }

  .statics-parent .statics {
    padding: 76px 28px;
  }
  .statics-parent .statics .card .card-text {
    font-size: 30px;
  }

  .our-services .our-services-cards .card .card-img .serv-bf {
    left: 90px;
  }
}
@media (max-width: 800px) {
  .header .header-content {
    padding-top: 180px !important;
  }
  .header .header-img {
    height: 100vh !important;
  }
  .header .header-img .header-phone {
    display: none;
  }

  .som-features .main-card {
    margin-bottom: 20px;
  }

  .section-header h5 {
    width: 50%;
  }

  .how-buy .card-left .card {
    margin-left: 0 !important;
    float: none !important;
  }
  .how-buy .card-right .card {
    float: none !important;
    margin-right: 0 !important;
  }

  .all-features {
    height: auto;
  }
  .all-features .all-feature-img {
    height: 100%;
  }

  .our-services .card {
    padding: 20px;
  }
  .our-services .card-left .card {
    width: 100% !important;
    padding-top: 35px;
    float: none !important;
  }
  .our-services .card-right .card {
    width: 100% !important;
    padding-top: 35px;
    float: none !important;
  }

  .contact .contact-form {
    margin-top: 90px;
  }

  footer {
    height: 245px;
  }

  .testemonia .testemonia-cards-slider .slick-next {
    right: 45% !important;
  }
  .testemonia .testemonia-cards-slider .slick-prev {
    left: 45% !important;
  }

  .download-our-app {
    background-attachment: unset;
  }
}
@media (max-width: 524px) {
  .navbar {
    text-align: center;
  }
  .navbar .navbar-brand {
    margin: auto;
  }
  .navbar .social {
    text-align: center;
    margin: auto;
    margin-top: 20px;
  }
  .navbar .social .nav-link i {
    background-color: #fff;
  }

  .header-parent .header .header-content h5 {
    color: #fabb27 !important;
    margin-top: 40px;
  }
  .header-parent .header .header-content h5 span {
    color: #0d1435;
  }

  .header {
    background-image: url("../images/choice.png");
    background-position: right;
    background-size: cover;
    margin-top: -10px;
  }
  .header .header-content {
    padding-top: 210px !important;
    text-align: center;
  }
  .header .header-content .header-download img {
    margin-bottom: 5px;
  }
  .header .header-img {
    display: none;
  }

  .section-header h5 {
    width: 100%;
  }

  .section-header h5::before {
    right: -5px;
  }

  .statics-parent .statics .card {
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px;
    padding-right: 0;
    height: auto;
  }
  .statics-parent .statics .card .card-img {
    position: unset;
  }
  .statics-parent .statics .card .card-text {
    font-size: 45px;
  }

  .download-our-app {
    height: auto;
  }
  .download-our-app .down a {
    display: inline-block;
    margin-bottom: 5px;
  }

  footer {
    padding-top: 83px;
  }

  .testemonia .testemonia-cards-slider .slick-next {
    right: 40% !important;
  }
  .testemonia .testemonia-cards-slider .slick-prev {
    left: 40% !important;
  }

  .testemonia .section-header p {
    width: 100%;
  }

  .download-our-app {
    padding-bottom: 30px;
  }

  .monitor .frame {
    position: absolute;
    width: 286px;
    height: 520px;
    z-index: 1;
    left: 54.5%;
    transform: translate(-50%, 0);
    bottom: 62px;
  }

  .our-services .our-services-cards .card .card-img .serv-bf {
    left: 120px;
  }
}
@media (max-width: 376px) {
  .header-parent .header .header-content h5 {
    margin-top: 70px;
    position: relative;
    z-index: 7;
  }
}
@media (max-width: 321px) {
  .header-parent .header .header-content h5 {
    margin-top: 90px;
    position: relative;
    z-index: 7;
    font-size: 40px;
  }
}

/*# sourceMappingURL=style.css.map */
